@import "tailwindcss";

.box {
  animation-name: box;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  box-shadow: 0 0 20px;
}

@keyframes box {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.navbarLink::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-radius: 40%;
  height: 2px;
  background-color: yellow;
  transition: width 0.3s ease-in;
}

.navbarLink:hover::before {
  width: 85%;
}

.activeLink::before {
  width: 85%;
  background-color: yellow; /* oq bo'lsin desang */
}
